{% load static wagtailuserbar %}
{% load  static  wagtailsettings_tags %}
{% load wagtailimages_tags %}
{% get_settings %}
{% load static %}

{# Global stylesheets #}

<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="btn btn-primaryt" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}